
body {
	margin: 0;
	padding: 25px;
	color: #666666;
	font-family: arial, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
}

a {
	color: #5AB600;
}

a:hover {
	text-decoration: none;
}

img {
	border: 0;
}

div#header {
	position: absolute;
	top: 25px;
	left: 25px;
}

div#sidebar {
	position: absolute;
	top: 70px;
	left: 25px;
	width: 140px;
	padding: 0;
}

div#menu {
	width: 140px;
	background-color: #E1E6E9;
}

div#body {
	position: absolute;
	top: 70px;
	left: 200px;
	width: 565px;
	padding-bottom: 40px;
}

table.product {
    width: 565px;
    border: 1px solid #DEDEEA;
    background-color: #F1F3F4;
    margin-bottom: 25px;
    border-spacing: 10px;
}

    table.product td {
        font-family: arial, sans-serif;
        font-size: 11pt;
        color: #666;
        padding: 0;
        margin: 0;
    }

    table.product td.prodname {
        background-color: #25628D;
        font-weight: bold;
        font-family: arial, sans-serif;
        font-size: 14pt;
        color: #D5E8F5;
        padding: 4px;
        padding-left: 12px;
    }

    table.product td.body {
        padding: 8px;
        font-size: 12px;	
    }

    table.product td.body span.price {
        font-weight: bold;
        font-size: 13pt;
    }

    table.product td.image {
        text-align: right;
    }

span.outofstock {
    color: #AA0000;
    text-style: italic;
}

span.specs {
    font-size: 11px;
}
